* {
    padding: 0;
    border: 0;
    margin: 0;   
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f1f2ec;
    width: 100%;
}

nav {
    background-color: #0a3759;
    width: 100%;
    font: 1.5em 'Fjalla One', sans-serif;
    color: #ffffff;
    list-style-type: none;
    overflow: auto;
    text-align: right;
}


.navbar li {
    display: inline-block;
    margin: 0% 3% 0% 0%;
    text-align: right;
    padding: 2.5% 4% 2.5% 0%;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

.navbar a:hover {
    color: #a4a59f;
}

header {
    background: #d5d9e2 url("image/header-image.jpg") no-repeat top left;
    background-size: cover;
    font-family:'Fjalla One', sans-serif;
    color: #ffffff;
    overflow: auto;
    padding-bottom: 5%;
}

header h1 {
    margin-top: 40%; 
    font-size: 3em;
    text-align: center;
    padding-bottom: 2%;
}

header h2 {
    text-align: center;
    font-size: 1.5em;
}

#introduction {
    text-align: center;
    font: .8em 'Roboto', sans-serif;
    padding: 1%;
    border-top: .2em dashed #ffffff;
    width: 50%;
    margin: 2% auto 0% auto;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #d5d9e2;
}

#photocredit {
    font: 0.6em 'Roboto', sans-serif;
    text-align: right;
    padding: 2.5% 2.5% 0% 0%;
}

#experience {
    background-color: #0a3759;
    overflow: auto;
    color: #ffffff;
    padding: 3%;
}

section h1{
    text-align: center;
    font: 1.75em 'Fjalla One', sans-serif;
    margin: 2% 30% 5% 30%;
    border-bottom:.1em dashed #ffffff;
}

#experience table {
    width: 100%;
    margin: 0% auto 0% auto;
}

.title_info {
    width: 65%;
    vertical-align: top;
}

.date_place {
    width: 35%;
    vertical-align: text-top;
    text-align: right;
}

#experience ul {
    padding: 1% 1% 5% 7%;
    font-size: 0.9em;

}

#experience h2 {
    font-size: 1.2em;
    font-weight: 700;
}

#experience h3 {
    font-size: .9em;
    font-weight: 700;
    padding: 3% 0% 1% 0%;
}

#experience p {
    font-size: .9em;
    font-weight: 700;
}

#education {
    list-style-type: none;
}

#portfolio {
    background-color: #467393;
    overflow: auto;
    color: #ffffff;
    padding: 3%;
    text-align: center;
}

  
figure {
    display: inline-block;
    width: 35%;
    text-align: center;
}

figure img {
    display: inline-block;
    width:80%;
    padding: 0% 10%;
}

figcaption {
    display: inline-block;
    width: 80%;
    font-size: .7em;
    padding-bottom: 15%;
}

footer {
    background-color: #a4a59f;
    padding: 3%;
    text-align: right;
    font: 0.7em 'Fjalla One', sans-serif;
    overflow: auto;
    color: #ffffff;
    
}