* {
    padding: 0;
    border: 0;
    margin: 0;   
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f1f2ec;
    width: 100%;
    overflow: auto;
}


a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #a4a59f;
}

nav {
    background-color: #0a3759;
    width: 100%;
    font: 1.5em 'Fjalla One', sans-serif;
    color: #ffffff;
    list-style-type: none;
    text-align: right;
}


nav li {
    display: inline-block;
    margin: 0% 3% 0% 0%;
    padding: 2.5% 4% 2.5% 0%;
}

header {
    background: #d5d9e2 url("image/header-image.jpg") no-repeat top left;
    background-size: cover;
    font-family:'Fjalla One', sans-serif;
    color: #ffffff;
    overflow: auto;
    padding-bottom: 5%;
    text-align: center;
}

header h1 {
    margin-top: 40%; 
    font-size: 3em;
    padding-bottom: 2%;
}

header h2 {
    font-size: 1.5em;
}

#introduction {
    font: 1em 'Roboto', sans-serif;
    padding: 1%;
    border-top: .2em dashed #ffffff;
    width: 50%;
    margin: 2% auto 0% auto;
}

#photocredit {
    font: 0.6em 'Roboto', sans-serif;
    text-align: right;
    padding: 2.5% 2.5% 0% 0%;
}

section {
    padding: 3%;
    color: #ffffff;
}

section h1{
    text-align: center;
    font: 1.75em 'Fjalla One', sans-serif;
    margin: 2% 30% 5% 30%;
    border-bottom:.1em dashed #ffffff;
}

.experience {
    background-color: #0a3759;
}

.experience table {
    width: 100%;
    margin: 0% auto;
}

.experience ul {
    padding: 1% 1% 5% 7%;
    font-size: 0.9em;
}

.title_info {
    width: 65%;
    vertical-align: text-top;
}

.date_place {
    width: 35%;
    vertical-align: text-top;
    text-align: right;
}

.experience h2 {
    font-size: 1.2em;
    font-weight: 700;
}

.experience h3 {
    font-size: .9em;
    font-weight: 700;
    padding: 3% 0% 1% 0%;
}

.experience p {
    font-size: .9em;
}

#education li {
    list-style-type: none;
}

.portfolio {
    background-color: #467393;
    color: #ffffff;
    text-align: center;
}
  
.portfolio figure {
    width: 35%;
    text-align: center;
    display: inline-block;
}

.portfolio figure img {
    width:80%;
    padding: 0% 10%;
}

.portfolio figcaption {
    display: inline-block;
    width: 80%;
    font-size: .7em;
    padding-bottom: 15%;
}

footer {
    background-color: #a4a59f;
    padding: 3%;
    text-align: right;
    font: 0.7em 'Fjalla One', sans-serif;
}